CREATE TABLE Materials (
    MaterialId INT IDENTITY(1,1) PRIMARY KEY,
    MaterialName NVARCHAR(100) NOT NULL,
    Category NVARCHAR(50),
    CurrentStock DECIMAL(18,2) DEFAULT 0,
    UnitOfMeasure NVARCHAR(20),
    UnitCost DECIMAL(18,2) DEFAULT 0,
    DateCreated DATETIME DEFAULT GETDATE(),
    IsActive BIT DEFAULT 1
);

CREATE TABLE Projects (
    ProjectId INT IDENTITY(1,1) PRIMARY KEY,
    ClientName NVARCHAR(100) NOT NULL,
    ClientContact NVARCHAR(20),
    ClientAddress NVARCHAR(200),
    ClientEmail NVARCHAR(100),
    ProjectName NVARCHAR(100) NOT NULL,
    ProjectDescription NVARCHAR(500),
    ProjectType NVARCHAR(50),
    Status NVARCHAR(20) DEFAULT 'Initiated',
    TotalPrice DECIMAL(18,2) DEFAULT 0,
    Discount DECIMAL(18,2) DEFAULT 0,
    DateCreated DATETIME DEFAULT GETDATE(),
    Deadline DATE,
    CompletedDate DATETIME NULL,
    ClientNotes NVARCHAR(500)
);

CREATE TABLE Products (
    ProductId INT IDENTITY(1,1) PRIMARY KEY,
    ProductName NVARCHAR(100) NOT NULL,
    Description NVARCHAR(500),
    Category NVARCHAR(50),
    Dimension NVARCHAR(100),
    SalePrice DECIMAL(18,2) NOT NULL,
    IsActive BIT DEFAULT 1,
    ProductImage VARBINARY(MAX)
);

CREATE TABLE Employees (
    EmployeeId INT IDENTITY(1,1) PRIMARY KEY,
    EmployeePhoto VARBINARY(MAX) NULL,
    FirstName VARCHAR(100) NOT NULL,
    LastName VARCHAR(100) NOT NULL,
    BirthDate DATE NOT NULL,
    DailyRate DECIMAL(18,2) NOT NULL,
    Position VARCHAR(50) NOT NULL,
    Status VARCHAR(50) NOT NULL,
    ContactNumber VARCHAR(50) NOT NULL,
    Email VARCHAR(150) NOT NULL,
    Active BIT NOT NULL DEFAULT 1
);

CREATE TABLE Users (
    userId INT IDENTITY(1,1) PRIMARY KEY,
    username NVARCHAR(50) NOT NULL UNIQUE,
    password NVARCHAR(255) NOT NULL,
    role NVARCHAR(50) NOT NULL,
    isActive BIT NOT NULL DEFAULT 1
);

CREATE TABLE ProductMaterials (
    ProductMaterialId INT IDENTITY(1,1) PRIMARY KEY,
    ProductId INT NOT NULL,
    MaterialId INT NOT NULL,
    QuantityRequired DECIMAL(18,2) NOT NULL,
    FOREIGN KEY (ProductId) REFERENCES Products(ProductId) ON DELETE CASCADE,
    FOREIGN KEY (MaterialId) REFERENCES Materials(MaterialId)
);

CREATE TABLE ProjectProducts (
    ProjectProductId INT IDENTITY(1,1) PRIMARY KEY,
    ProjectId INT NOT NULL,
    ProductId INT NOT NULL,
    Quantity INT NOT NULL DEFAULT 1,
    FOREIGN KEY (ProjectId) REFERENCES Projects(ProjectId) ON DELETE CASCADE,
    FOREIGN KEY (ProductId) REFERENCES Products(ProductId)
);


-- Sample Materials Data

-- Sample Users Data

INSERT INTO Users (username, password, role, isActive) VALUES 
('admin', 'admin123', 'Administrator', 1),
('user', 'user123', 'User', 1);